.gitignore
staging.py
test.js
matrix.pdf
test.mjs
test.py
test_node.mjs
test_pipe.mjs
/node_modules
/soffosai/node_modules
/coding_helper
test_main.js
test_index.html
test_index2.html
test_pipe_in_pipe.mjs
correct_es5_imports.js
html_source_code.html
.venv
iframeSoffosAI.html
archives/